@font-face {
    font-family: 'fuente';
    src: url('../fuentes/bay-tavern-s-plain-w05-bold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
<<<<<<< HEAD
 }
=======
 } 
>>>>>>> eeff8056c4d4dc355c91f41cbe00ba19d9b9c753
 
 :root{
    --cla: rgb(255,215,0);
    --clm: rgb(55, 35, 0);
    --clmt: rgba(0, 0, 0, 0.25);
    --cln: rgb(0, 0, 0);
    --clb: rgb(255,255,255);
    --clv: rgb(0,255,0);
    --clr: #222327;
 }


*{
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fuente';
    flex-wrap: wrap;
}
Body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clm);
}
footer{
    display: flex;
    align-self: flex-end;
    position: fixed;   
}
.navigation{
    position: relative;
    width: 400px; /*400 -> 980*/
    height: 70px; /* 70 -> 171.5*/
    background: var(--cln);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navigation ul{
    display: flex;
    width: 350px; /*350 -> 930*/
}
.navigation ul li{
    list-style: none;
    position: relative;
    width: 70px; /*350 / 7 = 50 -> 930 / 5 = 155*/
    height: 70px; /*70 -> 171.5*/
    z-index: 1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon{
    position: relative;
    display:block;
    line-height: 75px; /*75 -> 183.75*/
    font-size: 1.5em; /*1.5 ->3.67*/
    text-align: center;
    transition: 0.5s;
    color: var(--cla);
}
.navigation ul li.active a .icon{
    transform: translateY(-35px);/*-35 -> -78.4*/
}
.navigation ul li a .text{
    position: absolute;
    color: var(--cla);
    font-weight: 400 /*400 -> 980*/;
    font-size: 0.75em; /*0.75 -> 1.84*/
    letter-spacing: 0.05em; /*0.05 -> 0.12*/
    transition: 0.5s; 
    opacity: 0;
    transform: translateY(20px); /*20 -> 49*/
}
.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(15px); /*10 -> 24.5*/
}
.indicator{
    
    position: absolute;
    top: -50%;
    width: 70px; /*70 -> 170*/
    height: 70px; /*70 -> 170*/
    background: var(--cln);
    border-radius: 50%; /* 50 -> 100*/
    border: 6px solid var(--clm); /* 6 -> 14.7*/
    transition: 0.5s; 
}
.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clm);
}
.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clm);
}

.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
=======
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  background: var(--clm);
}
.navigation {
  width: 400px;
  height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navigation ul {
  display: flex;
  width: 350px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
 
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}

.navigation ul li.active a .icon {
  transform: translateY(-32px);
}

.navigation ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
 
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height:70px;
  background: #29fd53;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}

.indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--clr);
  
}

.indicator::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--clr);
  /* might need to change -1px to 1px in different circumstances?*/
}
 
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px *0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
  
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
>>>>>>> eeff8056c4d4dc355c91f41cbe00ba19d9b9c753
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}